@font-face
{
    font-family: casio;
    src: url('eurostile.woff');
}
@font-face
{
    font-family: casio_bold;
    src: url('EUROSTIB.ttf');
}

@font-face
{
    font-family: roboto;
    src: url('Roboto-Regular.ttf');
}

body
{
    margin: 0;
    font-family: roboto;
    color: #313131;
    background-color: rgb(214, 214, 214);
}

header
{
    font-family: casio_bold;
    padding: 8px 8px 8px 75px;
    background-color: #00327E;
    color: white;
    height: 60px;
}

nav
{
    background-color: #010101;
    color: white;
    padding: 0 8px 0 115px;
}

#logoText
{
    margin-left: 40px;
}

#subTitle
{
    background-color: #212121;
}

.navButton
{
    background-color: #010101;
    color: white;
    border: none;
    height: 40px;
}

.navButton:hover {background-color: teal;}

.navButton:active {background-color: rgb(0, 95, 95);}

.article1
{
    margin-right: auto; margin-left: auto; width: 80%;
    box-shadow: 0 6px 10px gray; background-color: white;
    padding: 20px
}

li {padding-top: 6px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
table {table-layout: fixed; width: 100%; border: 1px solid rgb(0, 50, 126); }
td, tr {border: 1px solid teal;}
td {padding: 3px; text-align: left; font-size: 14px; font-weight: bold;}
th {background-color: rgb(0, 50, 126); color: white;}
.key
{
    display: inline-block;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding: 2px;
    border-radius: 4px;
    width: 40px;
}
.shift_key {background-color: rgb(255, 230, 0); color: #212121;}
.small_key {background-color: rgb(66, 66, 66); color: white;}
.alpha_key {background-color: rgb(60, 32, 160); color: white;}
.white_key {background-color: rgb(207, 207, 207); color: rgb(31, 31, 31);}
.action_key {background-color: chocolate; color: rgb(31, 31, 31);}
.launch 
{
    background-color: darkcyan; color: white; padding: 6px; border: none; 
    font-family: casio;
}
.launch:hover{ background-color:#00327E;}
.launch:active{ background-color:#00255c;}
.smallTitle {font-family: casio_bold; color: rgb(22, 83, 175); font-weight: bold; letter-spacing: 1px;}

footer
{
    height: 30px;
    background-color: #010101;
    color: white;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

a
{
    font-family: casio;
    color:  rgb(22, 83, 175);
    text-decoration: none;
    font-weight: bold;
}

a:hover {color: teal; }